<div class="top">
    <div>
        <table>
            <tr class="short"><th></th><th></th><th></th></tr>
            <tr class="long"><th></th><td></td><td></td></tr>
            <tr class="short"><th></th><th></th><th></th></tr>
        </table>
    </div>
    <div class="container">
        <ng-content></ng-content>
    </div>
    <div>
        <table>
            <tr class="short"><th></th><th></th><th></th></tr>
            <tr class="long"><td></td><td></td><th></th></tr>
            <tr class="short"><th></th><th></th><th></th></tr>
        </table>
    </div>
</div>
