img.hide {
  width: 10cm;
}

div {
  image-rendering: pixelated;
}

div.container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1cm;
  div {
    display: flex;
    align-items: center;
    img {
      width: 100%;
      height: auto;
      filter: grayscale(100%);
    }
  }
}
