div.container {
  width: 5cm;
  div.row {
    display: flex;
    justify-items: space-between;
    flex-direction: row;
    div.col {
      width: 30mm;
      display: flex;
      text-align: center;
      input {
        padding: 3mm;
        outline: none;
        border: none;
        appearance: none;
        width: 15mm;
      }
    }
  }
}
