div.container {
    @media (min-width: 800px) {
        width: min(90%, 27cm);
        scale: 100%;
    }
    @media (max-width: 600px) {
        width: 130%;
        scale: 70%;
    }
    width: 100%;
}
