<h1>Implementacja DCT w kodowaniu ISO 10918-1 (JPEG)</h1>
<p>
    Kodowanie <strong>JPEG</strong> jest jednym z wielu przykładów
    wykorzystania <em>DCT</em> do kompresji obrazów. Oryginalny standard pochodzi z 
    1992 roku. Mimo swojej prostoty w porównaniu z nowszymi kodami, jest ono nadal
    bardzo często wykorzystywane.
</p>
<p>
    Oryginalny standard zakłada następujący proces kodowania:
</p>
<ul>
    <li>
        Transformacja z przestrzeni barw <strong>RGB</strong> na 
        <strong>YC<sub>b</sub>C<sub>r</sub></strong> - jest to krok opcjonalny, 
        można kodować obrazy również w <strong>RGB</strong>, my będziemy kodować
        tylko <strong>Y</strong>, czyli obrazy czarno-białe.
    </li>
    <li>
        <strong>Podpróbkowanie chrominancji</strong> - Jeżeli obraz został przekształcony do przestrzeni
        barw <strong>YC<sub>b</sub>C<sub>r</sub></strong>, to możemy zmniejszyć
        rozdzielczość sygnałów <strong>C<sub>b</sub>C<sub>r</sub></strong>, ponieważ
        ludzkie oko lepiej radzi sobie z rozróżnianiem jasności, niż koloru. Od
        tego momentu każdy sygnał jest przetwarzany osobno.
    </li>
    <li>
        <strong>Podział na bloki</strong> - <em>DCT</em> operuje na skończonej ilości 
        informacji, więc dzielimy nasz obraz na bloki <em>8x8</em>. Jeżeli rozmiar
        obrazka nie jest podzielny przez osiem, to podczas kodowania to trzeba 
        uzupełnić brakujące dane w jakiś sposób, który zminimalizuje artefakty
        przy kodowaniu (moja implementacja powtarza piksele z krawędzi).
    </li>
    <li>
        <strong>DCT</strong>
    </li>
    <li>
        <strong>Kwantyzacja</strong>
    </li>
    <li>
        <strong>Kodowanie Huffmana</strong> lub <strong>Kodowanie arytmetyczne</strong>
    </li>
</ul>
<h2>DCT w kodowaniu JPEG</h2>
<p>
    Standard <strong>JPEG</strong> zakłada trochę inną formę <em>DCT-II</em>,
    główna różnica w stosunku do poprzedniej formy to działanie na macierzach kwadratowych
    <em>8x8</em>:
</p>
<ng-katex
    [equation]="'X_{u,v} = \\frac{1}{4} \\alpha(u)\\alpha(v) \\sum^7_{x=0} \\sum^7_{y=0} x_{x,y} \\cos \\left[\\frac{(2x + 1)u\\pi}{16}\\right] \\cos \\left[\\frac{(2y + 1)v\\pi}{16}\\right]'"
    [options]="displayKatex"
    ></ng-katex>
<p>
    Gdzie:
</p>
<ul>
    <li>x oraz y są współrzędnymi w blokach wejściowych, u oraz v w blokach wyjściowych</li>
    <li>
        <p>Funkcja pomocnicza dana jest wzorem:</p>
        <ng-katex 
            [equation]="'\\alpha(z) = \\begin{cases} \\frac{\\sqrt{2}}{2} & \\text{dla} \\; z = 0 \\\\ 1 & \\text{dla} \\; z \\neq 0 \\end{cases} '"
            [options]="displayKatex"></ng-katex>
        <p>Ma ona na celu sprawienie by macierz zawierająca przekształcone wartości była ortonormalna.</p>
    </li>
    <li>
        <strong>x<sub>x,y</sub></strong> to wartość w zakresie <em>[-127; 128]</em>,
        zatem od naszych wejściowych wartości w zakresie <em>[0; 255]</em> odejmujemy 128.
    </li>
</ul>
<p>Zobaczmy zatem jak wygląda to dla przykładowych danych:</p>
<div class="preset-input">
    <div class="inputs">
        <label for="preset-select">Przykład:</label>
        <select 
            id="preset-select"
            [(ngModel)]="selectedPreset" (ngModelChange)="onPresetChange($event)">
            <option *ngFor="let preset of presets" [ngValue]="preset">
                {{ preset.name }}
            </option>
        </select>
    </div>
    <ng-katex [equation]="'\\Rightarrow'" [options]="displayKatex"></ng-katex>
    <div>
    </div>
    <div></div>
    <app-brackets>
        <app-input-panel [(ngModel)]="vals"></app-input-panel>
    </app-brackets>
    <ng-katex [equation]="'\\Rightarrow'" [options]="displayKatex"></ng-katex>
    <p>
        <strong>DCT-II</strong>
    </p>
    <ng-katex [equation]="'\\Rightarrow'" [options]="displayKatex"></ng-katex>
    <app-brackets>
        <app-output-panel [(ngModel)]="vals"></app-output-panel>
    </app-brackets>
    <ng-katex [equation]="'\\Rightarrow'" [options]="displayKatex"></ng-katex>
    <p>
        <strong>Kwantyzacja</strong>
        <ng-katex 
            [equation]="'X_{u,v} = round \\left( \\frac{x_{u,v}}{w_{u,v}} \\right)'"></ng-katex>
    </p>
    <ng-katex [equation]="'\\Rightarrow'" [options]="displayKatex"></ng-katex>
    <app-brackets>
        <app-output-panel 
            [(ngModel)]="vals" 
            [kernel]="[dct.getDCTkernel(), dct.getQuant()]"
            [max]="64"
            ></app-output-panel>
    </app-brackets>
</div>
<h2>Kodowanie Huffmana</h2>
<p>
    Standard <strong>JPEG</strong> przewiduje specyficzny sposób odczytu kolejnych
    wartości z macierzy z kwantyfikowanymi wartościami, zamiast czytać je po kolei,
    to czytamy je <em>zygzakiem</em>, od lewego górnego kąta, do prawego dolnego,
    gdzie będzie najwięcej zer. Po angielsku ten sposób zwany jest <em>entropy coding</em>.
</p>
<p>
    Możliwe jest również zastosowanie kodu arytmetycznego, jednak nie jest on 
    często wspierany przez dekodery.
</p>
<figure>
    <img 
        src="assets/entropyZigZag.svg" 
        alt="Obrazek przedstawiający jak zygzakiem są sczytywane kolejne komórki, od (0, 0) -- (1, 0) -- (0, 1) -- (0, 2) -- (1, 1)...">
</figure>
<app-entropy-encoding             
    [kernel]="[dct.getDCTkernel(), dct.getQuant()]"
    [(ngModel)]="vals"
></app-entropy-encoding>
<p>
    Znak <strong>EOB</strong> oznacza, że reszta bloku składa się z samych zer.
    Wiedząc że każdy blok składa się z 64 wartości możemy sami dopisać resztę.
</p>
<h1>Dekodowanie JPEG</h1>

<p>
    W celu zdekodowania obrazu musimy wykonać operacje przeciwne w stosunku do 
    kodowania:
</p>
<ul>
    <li>Dekodowanie Huffmana</li>
    <li>Dekwantyzacja</li>
    <li>IDCT</li>
    <li>Transformacja do przestrzeni barw <strong>RGB</strong> w ramach potrzeby</li>
</ul>

<h2>Dekwantyzacja i dekodowanie DCT</h2>
<p>
    Po dekwantyzacji danych możemy uzyskać za pomocą <em>IDCT</em> oryginalny obraz 
    (w gorszej jakości).
    Podobnie jak przy kodowaniu, przy dekodowaniu standard zakłada inną formę 
    <em>DCT-III</em>:
</p>
<ng-katex
    [equation]="'X_{x,y} = \\frac{1}{4} \\sum^7_{u=0} \\sum^7_{v=0} \\alpha(u)\\alpha(v) x_{u,v} \\cos \\left[\\frac{(2x + 1)u\\pi}{16}\\right] \\cos \\left[\\frac{(2y + 1)v\\pi}{16}\\right]'"
    [options]="displayKatex"
    ></ng-katex>
<div class="preset-input">
    <app-brackets>
        <app-output-panel 
            [(ngModel)]="vals" 
            [kernel]="[dct.getDCTkernel(), dct.getQuant(), dct.getUnQuant()]"
            [max]="1024"
            ></app-output-panel>
    </app-brackets>
    <ng-katex [equation]="'\\Rightarrow'" [options]="displayKatex"></ng-katex>
    <p>
        <strong>DCT-III</strong>
    </p>
    <ng-katex [equation]="'\\Rightarrow'" [options]="displayKatex"></ng-katex>
    <app-brackets>
        <app-output-panel 
            [(ngModel)]="vals" 
            [kernel]="[dct.getDCTkernel(), dct.getQuant(), dct.getUnQuant(), dct.getDCT3kernel()]"
            [max]="255"
            ></app-output-panel>
    </app-brackets>
    <div></div>
    <div class="inputs">
        <label for="preset-select">Przykład:</label>
        <select 
            id="preset-select"
            [(ngModel)]="selectedPreset" (ngModelChange)="onPresetChange($event)">
            <option *ngFor="let preset of presets" [ngValue]="preset">
                {{ preset.name }}
            </option>
        </select>
    </div>
</div>
