div.row {
    display: flex;
    flex-direction: row;
    div.col {
        height: 10mm;
        width: 12.5%;
        display: flex;
        text-align: center;
        span {
            flex: 1;
            padding: 1mm;
        }
    }
}
