/* You can add global styles to this file, and also import other style files */

$background: #121216;
$foreground: #cfdcde;
$cursor: #cfdcde;

// Colors
$gray: #121216;
$blue0: #1a6d94;
$blue1: #1c78a2;
$green: #23cb9f;
$blue2: #1c62a2;
$blue3: #208bb9;
$blue4: #26b2d7;
$offwhite: #cfdcde;

