/* You can add global styles to this file, and also import other style files */
@use 'variables' as c;
@import '~katex/dist/katex.css';
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;0,700;1,400&display=swap');

html {
    background-color: c.$background;
    color: c.$foreground;
    font-family: 'Karla', sans-serif;
    app-root {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }
}
em {
    color: c.$green;
}

p, li {
    font-size: 13pt;
    text-align: justify;
    line-height: 1.5;
}

h1 {
    margin-top: 3cm;
    font-size: 25pt;
    margin-bottom: 1cm;
}

h2 {
    margin-top: 1.5cm;
    font-size: 20pt;
    margin-bottom: 1cm;
}

h1, h2 {
    margin-left: 1cm;
    font-weight: bold;
}

figure {
    max-width: 50%;
    min-width: 40ex;
    margin: 1cm auto 1cm auto;
}

li {
    margin: 6mm 0;
}
